<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0F12EE51EA436AA003D91E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F12EF91EA436AA003D91E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F12F041EA436AA003D91E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
